* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: #fff;
    font-weight: normal;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;  
}
nav div {
    width: 50%;
}
nav #link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav #link ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav #link ul li {
    list-style: none;
}
nav #link ul li a {
    font-size: 14px;
    font-weight: 300;
    color: #020202;
    margin-right: 35px;
}
#mobile-nav {
    display: none;
}
nav #link button {
    background-color: #da251d;
    border: none;
    padding: 35px 45px;
}
#section1 #red, #section2 #red {
    background-color: #da251d;
    color: #fff;
}
#section1{
    display: flex;
    gap: 25px;
    padding: 10px 35px;
}
#section1 #image {
    width: 34vw;
}
#section1 #image img {
    width: 100%;
    height: 100%;
}
#section1 #red {
    background-color: #da251d;
    color: #fff;
    width: 66vw;
    padding: 150px 70px;
}
#section1 #red h2 {
    font-size: 48px;
    font-weight: 300;
    width: 90%;
    line-height: 1.5;
}
#section1 #red button {
    background-color: #04642c;
    border: none;
    padding: 20px 25px;
    margin-top: 20px;
}
#section1 #red button:hover {
    border: 10px solid #04642c;
    background-color: #fff;
    padding: 11px 16px;
}
#section1 #red button:hover a {
    color: #04642c;
}
#section2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 230px;
    gap: 30px;
}
#section2 #about {
    width: 70%;
}
#section2 h3 {
    color: #ff0000;
    font-size: 24px;
    font-weight: 500;
}
#section2 #firstP {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.1px;
}
#section2 p {
    font-size: 18px;
    margin-top: 16px;
    line-height: 1.5;
}
#section2 #name {
    font-weight: 700;
}
#section2 #image {
    width: 30%;
}
#section2 #image img {
    width: 100%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}
#back-to-top svg {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    background-color: #444444;
    padding: 5px 0;
    height: 45px;
    width: 45px;
    text-align: center;
    z-index: 99;
}
#back-to-top svg:hover {
    background-color: #fff;
    border: 2px solid #444444;
    transition: 0.5s;
}
#back-to-top svg:hover path {
    stroke: #444444;
}
#back-to-top svg:hover circle {
    stroke: #444444;
}
#section3 {
    display: flex;
    gap: 25px;
    height: 55vh;
    margin: 100px 0;
}
#section3 #image {
    width: 33.3%;
}
#section3 img {
    height: 55vh;
    width: 100%;
}
#section3 #red {
    background-color: #da251d;
    color: #fff;
    padding: 70px;
    width: 30.4%;
}#section3 #red p {
    font-size: 18px;
    line-height: 2;
    margin: 30px 0;
}
#section3 #red button {
    background-color: #04642c;
    border: none;
    padding: 20px 25px;
}
#section3 #red button:hover {
    border: 10px solid #04642c;
    background-color: #fff;
    padding: 11px 16px;
}
#section3 #red button:hover a {
    color: #04642c;
}
#section3 #red h2 {
    font-size: 26px;
    font-weight: 600;
}
#section4 {
    background-image: url(./images/imgi_10_7bca64_346725c021964ef19fbedfb37af53300mv2.webp);
    background-size: cover;
    padding: 50px;
    text-align: center;
    margin-top: 140px;
}
#section4 button {
    background-color: #da251d;
    border: none;
    padding: 42px 65px;
    margin: 30px 0;
}
#section4 button a {
    font-size: 14px;
    padding: 12px 24px;
}
#section4 button a:hover {
    background-color: white;
    color: #da251d;
    transition: 0.5s;
}
#section5 {
    text-align: center;
    margin: 100px 0;
}
#section5 span {
    font-size: 100px;
    font-weight: 700;
    color: #da251d;
}
#section5 p {
    font-size: 34px;
    line-height: 90px;
}
#section5 button {
    background-color: #da251d;
    border: none;
    padding: 12px 24px;
    margin: 20px 0;
}
#section5 button a {
    font-size: 14px;
}
#section5 button a:hover {
    font-size: 14px;
    color: #da251d;
}
#section5 button:hover {
    background-color: white;
    color: #da251d;
    transition: 0.5s;
}
#section5 button:hover a {
    color: #da251d;
}
footer {
    background-color: #da251d;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    padding: 35px 0 35px 45px;
    margin: 28px;
}
footer #first {
    width: 31.5%;
}
footer #logo {
    text-align: center;
    width: 32%;
}
footer #first #logo img {
    width: 75%;
    margin-left: 80px;
    border: none;
}
footer p {
    font-size: 16px;
    line-height: 1.9;
}
footer #first p {
    width: 65%;
    margin-bottom: 15px;
}
footer #first a img {
    width: 8%;
    border: 1px solid #e1514a;
    padding: 8px;
    border-radius: 50%;
    margin-right: 5px;
}
footer #join {
    width: 34%;
    padding: 55px 0;
}
footer #join p {
    width: 78%;
}
footer form{
    margin: 20px 0;
    width: 78%;
}
footer label {
    font-size: 13px;
}
footer #mail {
    display: flex;
    margin: 10px 0;
    gap: 10px;
    width: 100%;
}
footer input {
    padding: 10px;
    border: 1px solid #717984;
    outline: none;
    width: 70%;
    border-radius: 3px;
    line-height: 1.5;
}
footer button {
    background-color: #04642c;
    border: none;
    padding: 10px 30px;
}
footer #explore {
    width: 34.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
footer #explore div {
    width: 100%;
    text-align: center;
}
footer #explore h2 {
    font-size: 20px;
}
footer ul li {
    list-style: none;
    padding: 10px 0;
}

/* about page */

#about-section1, #manifesto-section1, #volunteers-section1, #join-section1, #contact-section1 {
    background-color: #d42c1c;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}
#about-section1 h1, #manifesto-section1 h1, #volunteers-section1 h1, #join-section1 h1, #contact-section1 h1 {
    font-size: 52px;
}
#about-section2, #manifesto-section2 {
    text-align: center;
    margin: 0 100px;
    padding: 40px 0;
}
#about-section2 div, #manifesto-section2 div {
    width: 78%;
    margin: auto;
}
#about-section2 p, #manifesto-section2 p {
    font-size: 17px;
    line-height: 2;
    margin-bottom: 15px;
}
#about-section3 {
    display: flex;
    color: #fff;
    margin: 10px;
}
#about-section3 div {
    padding: 25px 100px;
}
#about-section3 #mission {
    background-color: #04642c;
    width: 50%;
}
#about-section3 #vision {
    background-color: #d42c1c;
    width: 50%;
}
#about-section3 h2 {
    font-size: 36px;
    font-weight: 500;
}
#about-section3 p {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 15px;
}
#about-section4 {
    text-align: center;
    margin: 80px 100px;
    padding: 40px 0;
}
#about-section4 div {
    width: 78%;
    margin: auto;
}
#about-section4 h2 {
    font-size: 34px;
    font-weight: 500;
    color: #d42c1c;
}
#about-section4 p {
    font-size: 17px;
    line-height: 2;
}
#about-section5 {
    margin: 80px 100px;
    margin-bottom: 180px;
}
#about-section5 #meet {
    margin: auto;
    width: 80%;
}
#about-section5 #flex {
    display: flex;
    gap: 28px;
}
#about-section5 #flex #image {
    width: 33%;
}
#about-section5 img {
    width: 100%;
}
#about-section5 h2 {
    font-size: 36px;
    font-weight: 500;
    color: #d42c1c;
    margin-bottom: 15px;
}
#about-section5 #name {
    text-align: center;
    /* margin-top: -20px; */
    margin-right: 20px;
    margin-left: 20px;
    padding: 40px;
    background-color: #fff;
    z-index: 99;
}
#about-section5 a {
    color: #d42c1c;
    font-size: 20px;
    font-weight: 700;
}
#about-section5 p {
    margin: 10px 0;
}
#about-section5 #flex section {
    border: 1px solid #d0d2d4;
}
/* #about-section5 #flex section:hover img {
    
} */



@media screen and (max-width: 600px) {
    #desktop-nav {
        display: none;
    }
    #mobile-nav {
        display: block;
    }
    nav {
        padding: 0;
    }
    #nav-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 90vw;
        border: 1px solid red;
    }
    #nav-items div {
        width: 30%;
    }
    #section1{
        flex-direction: column;
        padding: 5px 40px;
    }
    #section1 #image {
        width: 83vw;
    }
    #section1 #red {
        width: 83vw;
        padding: 60px 40px;
    }
    #section1 #red h2 {
        font-size: 20px;
        width: 90%;
    }
    #section1 #red button {
        padding: 15px 25px;
        margin-top: 20px;
    }
    #section1 #red button:hover {
        border: none;
        border-top: 2px solid #04642c;
        padding: 14.2px 25px;
    }
    #section2{
        flex-direction: column;
        padding: 40px 30px;
    }
    #section2 #about {
        width: 100%;
    }
    #section2 h3 {
        font-size: 26px;
        line-height: 1.7;
    }
    #section2 #firstP {
        font-size: 28px;
        font-weight: normal;
    }
    #section2 #image {
        width: 100%;
    }
    #section3 {
        flex-direction: column;
        gap: 0.2px;
        height: fit-content;
        margin: 20px 0;
    }
    #section3 #image {
        width: 100%;
    }
    #section3 img {
        height: fit-content;
        width: 100%;
    }
    #section3 #red {
        padding: 65px;
        width: 100%;
    }
    #section3 #red button {
        padding: 15px 25px;
    }
    #section3 #red button:hover {
        border: none;
        border-top: 2px solid #04642c;
        padding: 14.2px 25px;
    }
    #section4 {
        padding: 50px;
        margin-top: 85px;
    }
    #section5 {
        text-align: center;
        margin: 70px 0;
        padding: 0 10px;
    }
    #section5 p {
        font-size: 30px;
        line-height: 1.5;
        text-align: start;
    }
    footer {
        flex-direction: column;
        justify-content: flex-start;
        padding: 30px 0 110px;
        margin: 28px;
    }
    footer #first {
        width: 100%;
        padding-right: 30px;
    }
    footer #first #top {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    footer #logo {
        width: 30%;
    }
    footer #first #logo img {
        width: 100%;
        margin-left: 20px;
    }
    footer #first p {
        width: 70%;
        text-align: center;
    }
    footer #social-media {
        text-align: center;
    }
    footer #first a img {
        width: 12%;
        padding: 10px;
        margin: 0 5px;
    }
    footer #join {
        width: 100%;
        padding: 60px 25px;
    }
    footer #join p {
        width: 76%;
        text-align: center;
        margin: auto;
    }
    footer form{
        margin-bottom: 30px;
        width: 100%;
    }
    footer #mail {
        flex-direction: column;
        width: 100%;
    }
    footer input {
        padding: 10px;
        border: 1px solid #717984;
        outline: none;
        width: 100%;
        border-radius: 3px;
        line-height: 1.5;
    }
    footer #explore {
        width: 100%;
    }



    #about-section1, #manifesto-section1, #volunteers-section1, #join-section1, #contact-section1 {
        padding: 120px 0;
    }
    #about-section1 h1, #manifesto-section1 h1, #volunteers-section1 h1, #join-section1 h1, #contact-section1 h1 {
        font-size: 34px;
    }
    #about-section2, #manifesto-section2 {
        margin: 0 5px;
        padding: 40px 0;
    }
    #about-section2 div, #manifesto-section2 div {
        width: 93%;
        margin: auto;
    }
    #about-section3 {
        flex-direction: column;
        margin: 10px;
    }
    #about-section3 div {
        padding: 25px 30px;
    }
    #about-section3 #mission {
        width: 100%;
    }
    #about-section3 #vision {
        width: 100%;
    }
    #about-section3 img {
        width: 70%;
        margin: auto;
    }
    #about-section4 {
        margin: 20px 5px;
        padding: 40px 0;
    }
    #about-section4 div {
        width: 93%;
    }
    #about-section5 {
        margin: 80px 15px;
        margin-bottom: 120px;
    }
    #about-section5 #meet {
        width: 100%;
    }
    #about-section5 #flex {
        flex-direction: column;
        gap: 40px;
    }
    #about-section5 #flex #image {
        width: 90%;
    }
}