* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: #fff;
    font-weight: normal;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    background-color: #fff;
}
nav div {
    width: 50%;
}
nav #link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav #link ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav #link ul li {
    list-style: none;
}
nav #link ul li a {
    font-size: 14px;
    font-weight: 300;
    color: #020202;
    margin-right: 35px;
}
#mobile-nav {
    display: none;
}
nav #link button {
    background-color: #da251d;
    border: none;
    padding: 35px 45px;
}
#section1 #red, #section2 #red {
    background-color: #da251d;
    color: #fff;
}
#section1{
    display: flex;
    gap: 25px;
    padding: 10px 35px;
}
#section1 #image {
    width: 34vw;
}
#section1 #image img {
    width: 100%;
    height: 100%;
}
#section1 #red {
    background-color: #da251d;
    color: #fff;
    width: 66vw;
    padding: 150px 70px;
}
#section1 #red h2 {
    font-size: 48px;
    font-weight: 300;
    width: 90%;
    line-height: 1.5;
}
#section1 #red button {
    background-color: #04642c;
    border: none;
    padding: 20px 25px;
    margin-top: 20px;
}
#section1 #red button:hover {
    border: 10px solid #04642c;
    background-color: #fff;
    padding: 11px 16px;
}
#section1 #red button:hover a {
    color: #04642c;
}
#section2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 230px;
    gap: 30px;
}
#section2 #about {
    width: 70%;
}
#section2 h3 {
    color: #ff0000;
    font-size: 24px;
    font-weight: 500;
}
#section2 #firstP {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.1px;
}
#section2 p {
    font-size: 18px;
    margin-top: 16px;
    line-height: 1.5;
}
#section2 #name {
    font-weight: 700;
}
#section2 #image {
    width: 30%;
}
#section2 #image img {
    width: 100%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}
#back-to-top svg {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    background-color: #444444;
    padding: 5px 0;
    height: 45px;
    width: 45px;
    text-align: center;
    z-index: 99;
}
#back-to-top svg:hover {
    background-color: #fff;
    border: 2px solid #444444;
    transition: 0.5s;
}
#back-to-top svg:hover path {
    stroke: #444444;
}
#back-to-top svg:hover circle {
    stroke: #444444;
}
#section3 {
    display: flex;
    gap: 25px;
    height: 55vh;
    margin: 100px 0;
}
#section3 #image {
    width: 33.3%;
}
#section3 img {
    height: 55vh;
    width: 100%;
}
#section3 #red {
    background-color: #da251d;
    color: #fff;
    padding: 70px;
    width: 30.4%;
}#section3 #red p {
    font-size: 18px;
    line-height: 2;
    margin: 30px 0;
}
#section3 #red button {
    background-color: #04642c;
    border: none;
    padding: 20px 25px;
}
#section3 #red button:hover {
    border: 10px solid #04642c;
    background-color: #fff;
    padding: 11px 16px;
}
#section3 #red button:hover a {
    color: #04642c;
}
#section3 #red h2 {
    font-size: 26px;
    font-weight: 600;
}
#section4 {
    background-image: url(./images/imgi_10_7bca64_346725c021964ef19fbedfb37af53300mv2.webp);
    background-size: cover;
    padding: 50px;
    text-align: center;
    margin-top: 140px;
}
#section4 button {
    background-color: #da251d;
    border: none;
    padding: 42px 65px;
    margin: 30px 0;
}
#section4 button a {
    font-size: 14px;
    padding: 12px 24px;
}
#section4 button a:hover {
    background-color: white;
    color: #da251d;
    transition: 0.5s;
}
#section5 {
    text-align: center;
    margin: 100px 0;
}
#section5 span {
    font-size: 100px;
    font-weight: 700;
    color: #da251d;
}
#section5 p {
    font-size: 34px;
    line-height: 90px;
}
#section5 button {
    background-color: #da251d;
    border: none;
    padding: 12px 24px;
    margin: 20px 0;
}
#section5 button a {
    font-size: 14px;
}
#section5 button a:hover {
    font-size: 14px;
    color: #da251d;
}
#section5 button:hover {
    background-color: white;
    color: #da251d;
    transition: 0.5s;
}
#section5 button:hover a {
    color: #da251d;
}
footer {
    background-color: #fff;
    padding: 30px 28px;
}
.footer {
    padding-top: 85px;
}
#footer {
    background-color: #da251d;
    padding: 20px 0 20px 45px;
    color: #fff;
    display: flex;
    justify-content: flex-start;
}
footer #first {
    width: 31.5%;
}
footer #logo {
    text-align: center;
    width: 32%;
}
footer #first #logo img {
    width: 75%;
    margin-left: 80px;
    border: none;
}
footer p {
    font-size: 16px;
    line-height: 1.9;
}
footer #first p {
    width: 65%;
    margin-bottom: 15px;
}
footer #first a img {
    width: 8%;
    border: 1px solid #e1514a;
    padding: 8px;
    border-radius: 50%;
    margin-right: 5px;
}
footer #join {
    width: 34%;
    padding: 55px 0;
}
footer #join p {
    width: 78%;
}
footer form{
    margin: 20px 0;
    width: 78%;
}
footer label {
    font-size: 13px;
}
footer #mail {
    display: flex;
    margin: 10px 0;
    gap: 10px;
    width: 100%;
}
footer input {
    padding: 10px;
    border: 1px solid #717984;
    outline: none;
    width: 70%;
    border-radius: 3px;
    line-height: 1.5;
}
footer button {
    background-color: #04642c;
    border: none;
    padding: 10px 30px;
}
footer #explore {
    width: 34.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
footer #explore div {
    width: 100%;
    text-align: center;
}
footer #explore h2 {
    font-size: 20px;
}
footer ul li {
    list-style: none;
    padding: 10px 0;
}

/* About Page */

#about-section1, #manifesto-section1, #volunteers-section1, #join-section1, #contact-section1, #donate-section1 {
    background-color: #d42c1c;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}
#about-section1 h1, #manifesto-section1 h1, #volunteers-section1 h1, #join-section1 h1, #contact-section1 h1, #donate-section1 h1 {
    font-size: 52px;
}
#about-section2, #manifesto-section2 {
    text-align: center;
    margin: 0 100px;
    padding: 40px 0;
}
#about-section2 div, #manifesto-section2 div {
    width: 78%;
    margin: auto;
}
#about-section2 p, #manifesto-section2 p {
    font-size: 17px;
    line-height: 2;
    margin-bottom: 15px;
}
#about-section3 {
    display: flex;
    color: #fff;
    margin: 10px;
}
#about-section3 div {
    padding: 25px 100px;
}
#about-section3 #mission {
    background-color: #04642c;
    width: 50%;
}
#about-section3 #vision {
    background-color: #d42c1c;
    width: 50%;
}
#about-section3 h2 {
    font-size: 36px;
    font-weight: 500;
}
#about-section3 p {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 15px;
}
#about-section4 {
    text-align: center;
    margin: 80px 100px;
    padding: 40px 0;
}
#about-section4 div {
    width: 78%;
    margin: auto;
}
#about-section4 h2 {
    font-size: 34px;
    font-weight: 500;
    color: #d42c1c;
}
#about-section4 p {
    font-size: 17px;
    line-height: 2;
}
#about-section5 {
    margin: 80px 100px;
    margin-bottom: 180px;
}
#about-section5 #meet {
    margin: auto;
    width: 80%;
}
#about-section5 #flex {
    display: flex;
    gap: 28px;
}
#about-section5 #flex #image {
    width: 33%;
}
#about-section5 img {
    width: 100%;
}
#about-section5 h2 {
    font-size: 36px;
    font-weight: 500;
    color: #d42c1c;
    margin-bottom: 15px;
}
#about-section5 #name {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    padding: 40px;
    background-color: #fff;
    z-index: 99;
}
#about-section5 a {
    color: #d42c1c;
    font-size: 20px;
    font-weight: 700;
}
#about-section5 p {
    margin: 10px 0;
}
#about-section5 #flex section {
    border: 1px solid #d0d2d4;
}
/* #about-section5 #flex section:hover img {
    
} */



/* Manifesto Page */

#manifesto-section3 {
    display: flex;
    gap: 55px;
    padding: 20px;
    margin-top: 40px;
}
#manifesto-section3 #image {
    width: 30%;
    padding: 0 55px;
}
#manifesto-section3 #right {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
#manifesto-section3 h2 {
    color: #d42c1c;
    font-size: 36px;
    font-weight: 500;
}
#manifesto-section3 #content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#manifesto-section3 #content #div1, #div2, #div3, #div4 {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
}
#manifesto-section3 span {
    font-size: 17px;
    font-weight: 700;
}
#manifesto-section3 p {
    font-size: 17.5px;
    line-height: 2;
    margin-bottom: 20px;
}
#manifesto-section4 {
    display: flex;
    gap: 55px;
    padding: 20px;
}
#manifesto-section4 #image {
    width: 30%;
    padding: 0 15px;
}
#manifesto-section4 #right {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#manifesto-section4 #grid #div5, #div6, #div7, #div8 {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
#manifesto-section4 span {
    font-size: 17px;
    font-weight: 700;
}
#manifesto-section4 p {
    font-size: 17.5px;
    line-height: 2;
    margin-bottom: 20px;
}



/* Volunteers Page */

#volunteers-section2 {
    background-color: #fff;
    text-align: center;
    padding: 100px;
}
#volunteers-section2 #main {
    width: 80%;
    margin: auto;
    margin-top: 5px;
}
#volunteers-section2 h2 {
    color: #da251d;
    font-size: 30px;
    font-weight: 500;
}
#volunteers-section2 p {
    font-size: 18px;
    line-height: 2;
    text-align: start;
    margin-bottom: 30px;
}
#volunteers-section2 #carousel {
    height: 70vh;
}
#volunteers-section3 {
    background-color: #fff;
    text-align: center;
    padding: 30px 100px 70px;
}
#volunteers-section3 #main {
    width: 80%;
    margin: auto;
}
#volunteers-section3 p {
    font-size: 20px;
    color: #da251d;
}
#volunteers-section3 h2 {
    font-size: 45px;
    font-weight: 700;
}
#volunteers-section3 form {
    padding: 45px;
    margin: auto;
}
#volunteers-section3 input {
    width: 45%;
    margin: 10px 15px;
    background-color: #f0f0f0;
    border: none;
    outline: none;
    padding: 15px;
    line-height: 28.5px;
    font-size: 15px;
    font-weight: 500;
}
#volunteers-section3 textarea {
    width: 94%;
    margin: 10px 0;
    background-color: #f0f0f0;
    border: none;
    outline: none;
    padding: 20px;
    line-height: 28.5px;
    height: 17.5vh;
    max-height: 17.5vh;
}
#volunteers-section3 button {
    background-color: #cd2122;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    padding: 15px 40px;
    margin: 14px;
    border: none;
    outline: none;
    cursor: inherit;
}
#volunteers-section4 {
    text-align: center;
    padding: 117px 100px;
    color: #fff;
}
#volunteers-section4 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
#volunteers-section4 h2 {
    font-size: 35px;
    font-weight: 600;
}
#volunteers-section4 a {
    background-color: #da251c;
    padding: 16px 40px;
    font-size: 18px;
    font-weight: 600;
}
#volunteers-section4 a:hover {
    background-color: #000000;
    transition: 0.5s;
}



/* Join Page */

#join-section2 {
    text-align: center;
    padding: 100px;
}
#join-section2 div {
    width: 80%;
    margin: auto;
    margin-top: 5px;
}
#join-section2 h2 {
    color: #da251d;
    font-size: 30px;
    font-weight: 500;
}
#join-section2 p {
    font-size: 18px;
    line-height: 2;
    margin-bottom: 30px;
    margin-top: 15px;
}
#join-section3 {
    background-image: url(./images/imgi_9_7bca64_26c5b249684747cfb9017d1671ceb0ddmv2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 85px 90px;
}
#join-section3 div {
    width: 80%;
    margin: auto;
    padding: 15px 50px 25px;
    background-color: #fff;
}
#join-section3 h2 {
    color: #da251d;
    font-size: 30px;
    font-weight: 500;
}
#join-section3 p {
    font-size: 18px;
    line-height: 2;
    margin-top: 10px;
}
#join-section3 form {
    width: 65%;
    margin: auto;
}
#join-section3 form div {
    padding: 10px;
    width: 100%;
}
#join-section3 form label {
    font-size: 12px;
    color: #7a7a7a;
    cursor: pointer;
}
#join-section3 form sup {
    color: #d42c1c;
}
#join-section3 form input, select {
    width: 100%;
    margin-top: 10px;
    outline: none;
    padding: 12px 10px;
    font-size: 13px;
    color: #7a7a7a;
}
#join-section3 form button {
    width: 97%;
    border: none;
    outline: none;
    padding: 10px;
    background-color: #da251d;
    color: #fff;
    font-size: 15px;
    margin: 5px 10px;
}


/* Contact Page */

#contact-section2 {
    background-color: #fff;
    text-align: center;
    padding: 100px 100px 0;
}
#contact-section2 #main {
    width: 80%;
    margin: auto;
    margin-top: 5px;
}
#contact-section2 p {
    font-size: 18px;
    line-height: 2;
    padding-bottom: 15px;
}
#contact-section3 {
    display: flex;
    /* height: 60vh; */
    padding-bottom: 45px;
    background-color: white;
}
#contact-section3 #form {
    width: 66.5%;
    padding: 30px 20px 0;
    color: #fff;
    background-color: #cd2122;
    text-align: center;
}
#contact-section3 h2 {
    font-size: 30px;
    font-weight: 500;
}
#contact-section3 #image {
    width: 33.5%;
}
#contact-section3 #image img {
    width: 100%;
}
#contact-section3 form {
    width: 80%;
    padding: 35px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#contact-section3 label {
    font-size: 12px;
    cursor: pointer;
}
#contact-section3 #input {
    width: 49.3%;
    text-align: start;
}
#contact-section3 input {
    width: 100%;
    margin-top: 10px;
    background-color: #f0f0f0;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}
#contact-section3 #text {
    width: 100%;
    text-align: start;
}
#contact-section3 textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-top: 10px;
    background-color: #f0f0f0;
    border: none;
    outline: none;
    padding: 20px;
    line-height: 28.5px;
}
#contact-section3 form button {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    background-color: #04642c;
    color: #fff;
    font-size: 15px;
}
#contact-section4 {
    padding: 100px;
    color: #fff;
    margin: 20px 0;
}
#contact-section4 #main {
    width: 80%;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#contact-section4 #main div {
    width: 33%;
    padding: 20px;
}
#contact-section4 h2 {
    font-size: 30px;
    font-weight: 500;
}
#contact-section4 p {
    font-size: 17px;
    line-height: 2;
    font-weight: 400;
    margin-top: 20px;
}
#contact-section4 a img {
    width: 12%;
    border: 1px solid #529f72;
    padding: 8px;
    border-radius: 50%;
    margin-right: 5px;
}


/* Donate Page */

#donate-section2 {
    text-align: center;
    padding: 30px 100px 20px;
    background-color: #fff;
}
#donate-section2 div {
    width: 80%;
    margin: auto;
    margin-top: 5px;
}
#donate-section2 h2 {
    color: #da251d;
    font-size: 30px;
    font-weight: 500;
}
#donate-section2 p {
    font-size: 18px;
    line-height: 2;
    margin-top: 15px;
}
#donate-section3 {
    display: flex;
    height: fit-content;
    padding-bottom: 45px;
    background-color: white;
}
#donate-section3 #form {
    width: 66.5%;
    padding: 100px;
    background-color: #cd2122;
    text-align: center;
    height: 70vh;
}
#donate-section3 h2 {
    font-size: 30px;
    font-weight: 500;
    color: #df1313;
}
#donate-section3 #image {
    width: 33.5%;
}
#donate-section3 #image img {
    width: 100%;
    height: 70vh;
}
#donate-section3 form {
    width: 60%;
    background-color: #fff;
    padding: 35px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#donate-section3 label {
    font-size: 12px;
    color: #7a7a7a;
    cursor: pointer;
}
#donate-section3 sup {
    color: #d42c1c;
}
#donate-section3 div {
    width: 100%;
    text-align: start;
}
#donate-section3 select {
    width: 100%;
    margin-top: 10px;
    background: none;
    border: 1px solid #000;
    outline: none;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}
#donate-section3 form button {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    background-color: #04642c;
    color: #fff;
    font-size: 15px;
}
#donate-section4 {
    padding: 100px;
    color: #fff;
    margin: 20px 0;
}
#donate-section4 #main {
    width: 80%;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#donate-section4 #main div {
    width: 33%;
    padding: 20px;
}
#donate-section4 h2 {
    font-size: 30px;
    font-weight: 500;
}
#donate-section4 p {
    font-size: 17px;
    line-height: 2;
    font-weight: 400;
    margin-top: 20px;
}
#donate-section4 a img {
    width: 12%;
    border: 1px solid #529f72;
    padding: 8px;
    border-radius: 50%;
    margin-right: 5px;
}



@media screen and (max-width: 600px) {
    #desktop-nav {
        display: none;
    }
    #mobile-nav {
        display: block;
    }
    nav {
        padding: 0;
    }
    #nav-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 90vw;
        border: 1px solid red;
    }
    #nav-items div {
        width: 30%;
    }
    #section1{
        flex-direction: column;
        padding: 5px 40px;
    }
    #section1 #image {
        width: 83vw;
    }
    #section1 #red {
        width: 83vw;
        padding: 60px 40px;
    }
    #section1 #red h2 {
        font-size: 20px;
        width: 90%;
    }
    #section1 #red button {
        padding: 15px 25px;
        margin-top: 20px;
    }
    #section1 #red button:hover {
        border: none;
        border-top: 2px solid #04642c;
        padding: 14.2px 25px;
    }
    #section2{
        flex-direction: column;
        padding: 40px 30px;
    }
    #section2 #about {
        width: 100%;
    }
    #section2 h3 {
        font-size: 26px;
        line-height: 1.7;
    }
    #section2 #firstP {
        font-size: 28px;
        font-weight: normal;
    }
    #section2 #image {
        width: 100%;
    }
    #section3 {
        flex-direction: column;
        gap: 0.2px;
        height: fit-content;
        margin: 20px 0;
    }
    #section3 #image {
        width: 100%;
    }
    #section3 img {
        height: fit-content;
        width: 100%;
    }
    #section3 #red {
        padding: 65px;
        width: 100%;
    }
    #section3 #red button {
        padding: 15px 25px;
    }
    #section3 #red button:hover {
        border: none;
        border-top: 2px solid #04642c;
        padding: 14.2px 25px;
    }
    #section4 {
        padding: 50px;
        margin-top: 85px;
    }
    #section5 {
        text-align: center;
        margin: 70px 0;
        padding: 0 10px;
    }
    #section5 p {
        font-size: 30px;
        line-height: 1.5;
        text-align: start;
    }
    footer {
        padding: 28px;
        background-color: #fff;
    }
    .footer {
        padding-top: 50px;
    }
    #footer {
        flex-direction: column;
        justify-content: flex-start;
        padding: 30px 0 110px;
    }
    footer #first {
        width: 100%;
        padding-right: 30px;
    }
    footer #first #top {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    footer #logo {
        width: 30%;
    }
    footer #first #logo img {
        width: 100%;
        margin-left: 20px;
    }
    footer #first p {
        width: 70%;
        text-align: center;
    }
    footer #social-media {
        text-align: center;
    }
    footer #first a img {
        width: 12%;
        padding: 10px;
        margin: 0 5px;
    }
    footer #join {
        width: 100%;
        padding: 60px 25px;
    }
    footer #join p {
        width: 74%;
        text-align: center;
        margin: auto;
        margin-top: 20px;
    }
    footer form{
        margin-bottom: 30px;
        width: 100%;
    }
    footer #mail {
        flex-direction: column;
        width: 100%;
    }
    footer input {
        padding: 10px;
        border: 1px solid #717984;
        outline: none;
        width: 100%;
        border-radius: 3px;
        line-height: 1.5;
    }
    footer #explore {
        width: 100%;
    }



    #about-section1, #manifesto-section1, #volunteers-section1, #join-section1, #contact-section1 {
        padding: 120px 0;
    }
    #about-section1 h1, #manifesto-section1 h1, #volunteers-section1 h1, #join-section1 h1, #contact-section1 h1 {
        font-size: 34px;
    }
    #about-section2, #manifesto-section2 {
        margin: 0 3px;
    }
    #about-section2 div, #manifesto-section2 div {
        width: 93%;
    }
    #about-section2 p, #manifesto-section2 p {
    font-size: 17px;
    margin-bottom: 5px;
}
    #about-section3 {
        flex-direction: column;
        margin: 10px;
    }
    #about-section3 div {
        padding: 25px 30px;
    }
    #about-section3 #mission {
        width: 100%;
    }
    #about-section3 #vision {
        width: 100%;
    }
    #about-section3 img {
        width: 70%;
        margin: auto;
    }
    #about-section4 {
        margin: 20px 5px;
        padding: 40px 0;
    }
    #about-section4 div {
        width: 93%;
    }
    #about-section5 {
        margin: 80px 15px;
        margin-bottom: 120px;
    }
    #about-section5 #meet {
        width: 100%;
    }
    #about-section5 #flex {
        flex-direction: column;
        gap: 40px;
    }
    #about-section5 #flex #image {
        width: 90%;
    }
    #manifesto-section3 {
        flex-direction: column;
        gap: 0;
        padding: 0;
        margin-top: 5px;
    }
    #manifesto-section3 #image {
        width: 100%;
        padding: 30px;
    }
    #manifesto-section3 #image img {
        width: 100%;
    }
    #manifesto-section3 #right {
        width: 100%;
        margin-top: 0px;
        padding: 20px;
    }
    #manifesto-section3 #content {
        flex-direction: column;
    }
    #manifesto-section3 #content #div1, #div2, #div3, #div4 {
        width: 100%;
    }
    #manifesto-section3 span {
        font-size: 18px;
    }
    #manifesto-section3 p {
        font-size: 20px;
    }
    #manifesto-section4 {
        flex-direction: column;
        gap: 5px;
        padding: 5px;
    }
    #manifesto-section4 #image {
        width: 100%;
    }
    #manifesto-section4 #right {
        width: 100%;
        grid-template-columns: 1fr;
    }
    #manifesto-section4 #grid #div5, #div6, #div7, #div8 {
        width: 100%;
        padding: 10px 25px;
    }
    #manifesto-section4 span {
        font-size: 19px;
    }
    #manifesto-section4 p {
        font-size: 19px;
    }
    #volunteers-section2 {
        padding: 50px 15px;
    }
    #volunteers-section2 #main {
        width: 100%;
    }
    #volunteers-section2 #carousel {
        height: fit-content;
    }
    #volunteers-section3 {
        padding: 30px 0px 70px;
    }
    #volunteers-section3 #main {
        width: 100%;
    }
    #volunteers-section3 h2 {
        font-size: 30px;
    }
    #volunteers-section3 form {
        padding: 45px 15px;
    }
    #volunteers-section3 input {
        width: 100%;
        margin: 10px 0px;
        padding: 20px 15px;
    }
    #volunteers-section3 textarea {
        width: 100%;
    }
    #volunteers-section4 {
        text-align: start;
        padding: 130px 20px;
    }
    #volunteers-section4 div {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
    }
    #volunteers-section4 h2 {
        font-size: 32px;
        line-height: 1.5;
    }
    #join-section2 {
        padding: 90px 10px;
    }
    #join-section2 div {
        width: 100%;
        margin-top: 5px;
    }
    #join-section3 {
        padding: 65px 0 90px;
    }
    #join-section3 div {
        width: 100%;
        padding: 15px 25px 25px;
    }
}